:root {
  font-size: 62.5%; /* 1rem = 10px */
}

*,
html,
body {
  font-size: 1.4rem;
  line-height: 100%;
}

.tooltip-background {
  background-color: rgb(var(--v-theme-tooltipColor)) !important;
  color: #424242 !important;
  font-weight: 600 !important;
}
