*,
html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* Sobrescrever tipografia do Vuetify para usar Montserrat */
.v-application,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-h6,
.v-application .text-subtitle-1,
.v-application .text-subtitle-2,
.v-application .text-body-1,
.v-application .text-body-2,
.v-application .text-button,
.v-application .text-caption,
.v-application .text-overline {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

.tooltip-background {
  background-color: rgb(var(--v-theme-tooltipColor)) !important;
  color: rgb(var(--v-theme-tooltipTextColor)) !important;
  font-weight: 600 !important;
}

.v-toolbar {
  z-index: 100 !important;
}

.v-data-table,
.v-data-table-virtual {
  background: transparent !important;
  color: rgb(var(--v-theme-darkText)) !important;
}
.v-data-table .v-data-table__wrapper,
.v-data-table-virtual .v-data-table__wrapper {
  background: transparent !important;
}
.v-data-table thead,
.v-data-table-virtual thead,
.v-data-table .v-data-table-header,
.v-data-table-virtual .v-data-table-header {
  background: transparent !important;
}

.v-data-table__th,
.v-data-table-header__th {
  background: transparent !important;
}

.v-data-table__td,
.v-data-table-column--align-start,
.v-data-table-group-header-row__column {
  background: transparent !important;
  color: rgb(var(--v-theme-colorTextPrimary)) !important;
}
